<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C3DE6A424A9F587002D42D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C3DE6BC24A9F588002D42D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C3DE6C724A9F588002D42D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
